.ehb__about-container h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 50px;
  
    margin: 2rem 0;
    position: relative;
    left: 100px;
  }

.ehb__about {
    display: flex;
    flex-direction: row;
  }
  
  .ehb__about-image {
    flex: 0.75;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    margin-right: -8rem;
  }
  
  .ehb__about-image img {
    width: 70%;
    height: 100%;
  }
  
  .ehb__about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .ehb__about-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  
    color: #71ffe0;
  }
  
  .ehb__about-content ul {    
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #ADE792;
  }

  .ehb__about-content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 1050px) {
    .ehb__about-image {
      position: relative;
      right: 40px;
    }
    .ehb__about-image img {
      width: 35vw;
    }
    .ehb__about-content {
      position: relative;
      left: 70px;
    }
  }

  @media screen and (max-width: 850px) {
      .ehb__about {
          flex-direction: column;
      }
  
      .ehb__about-image {
        margin: 1rem 0;
      }
  
      .ehb__about-content {
        margin-top: 2rem;
      }
  }
  
  @media screen and (max-width: 550px) {
    .ehb__about-image img {
      width: 70vw;
    }

    .ehb__about-container h1 {
      position: relative;
      left: 50px;
    }

    .ehb__about-image {
      position: relative;
      left: 20px;
    }
    
    .ehb__about-content {
      position: relative;
      left: 10px;
    }
  }


